<mat-card>

	<table cellspacing="0" class="full-width">
		<tr>
			<td>
				<mat-form-field class="full-width">
					<mat-label>Date</mat-label>
					<input matInput [matDatepicker]="datePicker" [ngModel]="endDate" (input)="onDateChange($event)">
					<mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
					<mat-datepicker #datePicker></mat-datepicker>
				</mat-form-field>
			</td>
			<td>
				<mat-form-field class="full-width datetime">
					<mat-label>Time</mat-label>
					<input matInput type="time" [value]="endDate.getHours() + ':' + endDate.getMinutes()" (input)="onTimeChange($event)">
					<!-- <ngx-material-timepicker #timePicker></ngx-material-timepicker> -->
				</mat-form-field>
			</td>
		</tr>
	</table>

	<mat-form-field>
		<mat-label>Description</mat-label>
		<textarea matInput placeholder="Description..."></textarea>
	</mat-form-field>
	<mat-card-actions>
		<button mat-button (click)="add()">Add</button>
	</mat-card-actions>
</mat-card>